<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ node.name }}{% endblock %}</title>
        {% block stylesheets %}
            {{ openOrchestraCss(node.theme) }}
        {% endblock %}
        <script src="{{ asset('/bundles/openorchestradisplay/libs/require.js') }}"></script>
        <script src="{{ asset('/bundles/openorchestradisplay/requireConf.js') }}"></script>
    </head>
    <body>
        {% for area in node.areas %}
            {% include "OpenOrchestraFrontBundle:Node:area.html.twig" with {"area": area, 'nodeId': node.nodeId, 'parameters': parameters } only %}
        {% endfor %}

        {% block javascripts %}
            {{ openOrchestraJs(node.theme) }}
        {% endblock %}
    </body>
</html>
